Language Translator.json
[{"id":"433d033a.ca4b0c","type":"tab","label":"Language Translator","disabled":false,"info":""},{"id":"cb6405c9.0454f8","type":"watson-translator","z":"433d033a.ca4b0c","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"xB6NBR2XdEsU0pt8kvHvJv-f2BI8vsQ6VUIJku4ba7bQ","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/7a5ef748-6d6a-4ad5-b27f-c514e073b976","x":380,"y":200,"wires":[["6751c6a4.e03bf8"]]},{"id":"74069c20.4f42c4","type":"ui_text_input","z":"433d033a.ca4b0c","name":"","label":"","tooltip":"","group":"448620e3.29d43","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":160,"y":200,"wires":[["cb6405c9.0454f8"]]},{"id":"6751c6a4.e03bf8","type":"ui_text","z":"433d033a.ca4b0c","group":"448620e3.29d43","order":3,"width":0,"height":0,"name":"","label":"Translated Text","format":"{{msg.payload}}","layout":"col-center","x":650,"y":300,"wires":[]},{"id":"448620e3.29d43","type":"ui_group","name":"Enter Input Text","tab":"c656c4db.622458","order":1,"disp":true,"width":"6","collapse":false},{"id":"c656c4db.622458","type":"ui_tab","name":"Language Translator","icon":"Language Translator","disabled":false,"hidden":false}]